<!-- ***** FORMA 1: sin usar "@let" ***** -->

<!-- <div>
  @if ({{character()}}) {
    .....
  }
</div> -->

<!-- ************************************************************************************************************************ -->

<!-- ***** FORMA 2: usando "@let" ***** -->

<!-- @let characterLocal = character(); -->

<!-- <div>
  @if (characterLocal) {
    .....
  }
</div> -->

<!-- ************************************************************************************************************************ -->

<!-- el "@let" es algo nuevo de Angular que nos permitirá crear variables, es decir, permite definir una variable local y reutilizarla en todo el template HTML -->
<!-- Las declaraciones @let son similares a los let en JavaScript y sus valores pueden ser cualquier expresión válida de Angular. Las expresiones se volverán a evaluar cada vez que se ejecute el template HTML. Importante que se termine en un ";" -->
@let characterLocal = character();
@let characterInfoLocal = characterInfo();

<div>
  <!-- colocarlo directamente la señal sería colocar la referencia a la señal pero no al valor de la señal como tal. Para tener el valor hay que colocarlo como si fuera un método, es decir colocando "()" -->
  @if (characterLocal) {
    <h3>{{characterLocal.name}}</h3>

    <!-- para realizar la optimización de imágenes se está usando el "NgOptimizedImage" y aquí se tendría que usar el -- [ngSrc]="....." -- -->
    <!-- al trabjarlo con [] las propiedades como [alt]="....." quiere decir que es una propiedad enlazada al valor que se esté pasando. Esto significa que el contenido del atributo alt será dinámico y reflejará el valor actual de characterLocal.name. Si characterLocal.name cambia en tiempo de ejecución, el valor del atributo alt también se actualizará automáticamente. Y si no se colocara entonces alt no sería un valor dinámico y se interpreta literalmente como el texto "characterLocal.name" y no como el valor de la propiedad del componente que necesitamos -->
    <img
      [ngSrc]="characterLocal.image"
      [alt]="characterLocal.name"
      width="200"
      height="200"
    />

    <h2>Character: {{characterLocal.name}} Info</h2>

    <!-- en este caso al verlo al zoom normal de la pantalla veremos que no cargó la data pero si vamos bajando veremos que ya carga la info de los primeros personajes, para entender un poco mejor, por ejemplo, si ampliamos el zoom hasta 175% veremos que esta info se muestra después, justo cuando el componente está en el viewport y este se llega a ver en la pantalla -->
    @if (characterInfoLocal) {
      <p>{{ characterInfoLocal | json}}</p>
    } @else {
      <p>-- No Info yet --</p>
    }
  }
</div>
